/*図書館の背景*/
body{
	background-image: url(img/liblary.jpg); /*図書館画像*/
	background-size: cover; /*全体に*/
}

/*選択肢の高さ*/
select{
	height:50px; 
}
/*PCでは自動*/
@media screen and (min-width: 992px) {
	select{
		height: auto;
	}
}

/*長い文字がボタンからはみ出ないように*/
.btn{
	white-space: normal;
}

/*第1〜第3階層で文字サイズを変える*/
.first{
	font-size:19px;
}
.third{
	font-size:13px;
}

/*第2階層の単語ボタンの色*/
.btn-white{
	background-color: #fff;
	border: solid 1px #ddd;
}
.btn-white:hover{
	color:#fff;
	background-color: #bbb;
}

/*入力した単語のボタンは、色を変える（WordNetの場合のみ）*/
a.btn.second.btn-myword{
	background-color: #fdeddd;
  border: solid 1px #ddd;
}
a.btn.second.btn-myword:hover{
	background-color: #fdbd1d;
  border: solid 1px #ddd;
}